# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Temporary files
*.tmp
*.back
*.bck
*.pem
**/*.pem
**/cert/
**/loxilb.io/
**/.vagrant/

# Local IDE files
.vscode/

# Kernel Module Compile Results
*.mod
*.mod.c
!go.mod
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.DS_Store

# Local build output
/loxilb

# CICD run artifacts
cicd/tcpsctpperf/perf*
cicd/k3s-*/k3s.yaml
cicd/k3s-*/master-ip
cicd/k3s-*/node-token
cicd/.orchestrator/

# Python cache
__pycache__/
